* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.227), rgba(0, 0, 0, 0.282));
    background-image: linear-gradient(-90deg,
            rgba(0, 0, 0, 0.599),
            rgba(0, 0, 0, 0.325)), url("assets/bg.jpg");
    background-position: top center;
    /* height: 5000px; */
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color:  rgb(148, 213, 37);
    border-radius: 0px;
}
::-webkit-scrollbar-track{
    background-color: rgb(50, 78, 0);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.355); */
    background-image: linear-gradient(180deg,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
    ); 
    padding: 35px 35px 35px 35px;
    z-index: 1000;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    color: white;
    padding: 0 15px 0 10px;
}

nav div a {
    /* gap: 50px; */
    text-decoration: none;
    color: white;
    font-size: 20px;

}

nav div a h2{
    font-size: 35px;
    padding-right: 8px;
    border-bottom: 2px dashed rgba(255, 255, 255, 0.763);
    cursor: pointer;

    animation: cursor 2s infinite;

    animation-direction:normal;
    /* font-weight: 900; */
}

.button {
    background-color: rgba(177, 1, 1, 0.663);
    border: 1px solid rgba(177, 1, 1, 0.663);
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
}

.button:hover {
    animation-name: borders;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    cursor:pointer;
}

.button a {
    font-weight: 500;
    padding: 0px 10px;
}


/* Landing Content */
main{
    margin: 0vh 0 0 0;
    padding: 17vh 6vw 10vh 6vw;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    column-gap: 10px;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.title{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    row-gap: 30px;
    /* padding: 0 0 0 10vw; */
}
.title div h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    
}
.title div h2{
    font-size: 25px;
    font-weight: 500;
    font-family: monospace;
    padding: 0 0 0 0px;
    
}
.title a{
    text-decoration: none;
}
.title a h4{
    font-size: 20px;
    font-weight: 550;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.title-img img{
    width: 580px;
    color: linear-gradient(-90deg,
    rgba(0, 0, 0, 0.599),
    rgba(0, 0, 0, 0.325));
}

/* Form CSS */
main{
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* padding: 0 100px; */
    /* font-size: 30px; */
}
form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 55px;
}
#data{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    column-gap: 250px;
}
.part-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 35px;
}
.input-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    border-bottom: 2px solid rgb(255, 217, 0)  ;
    border-width: 1px;
    /* border-collapse: var(-90deg); */
    border-radius: 2px;

    animation: u2d 2s 1;
    cursor:none;

}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 25px;
}
.input-section{
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    /* justify-content: space-around; */
    row-gap: 3px;
   
}
.input-section label{
    font-size: 15px;
    font-family: "Lato";
    
}
.input-section input{
    width: 380px;
    font-size:18px;
    padding: 10px 10px;
    border-radius: 5px;
}
.input-section textarea{
    max-width: 380px;
    min-width: 380px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 5px;
    font-size:18px;
    padding: 10px 10px;
    font-family: "Lato";
}

/* Side Inputs */
.side-inputs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 25px;
}
.side-inputs label{
    font-size: 15px;
    font-family: "Lato";
}
#age{
    width: 70px;
}
.radio{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    font-family: 'Lato';
}
.radio fieldset legend{
    margin: 0px 0px 0 10px;
    padding: 0px 5px 0 5px;

}
.radio-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    padding: 10px  10px 14px 10px;
    column-gap: 25px;
    /* flex-direction: column; */
}
.radio-option{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
}
.radio-option label{
    font-size: 17px;
}
.radio-option input{
    width: 17px;
}

/* Academic Input */
.input-section select{
    width: 404px;
    font-size:18px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
}
.checkboxes{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px 20px 20px;
    width: 380px;
    align-items: center;
    justify-content: baseline;
    column-gap: 30px;
    row-gap: 10px;
}

/* Form-1 buttons */
.form-buttons{
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding-top: 10px;
    column-gap: 25px;
}
.form-button{
    font-size: 17px;
    font-family: "Lato";
    color: rgb(81, 255, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 3px solid rgb(47, 78, 0);
    padding: 7px 10px;
    text-decoration: none;

    display: flex;
    column-gap: 5px;

}
.form-button:hover{
    border-color: white;
    cursor: pointer;
    
}
#back{
    animation: r2l 2s 1;
}
#back img{
    transform: rotate(180deg);
}
#reset{
    animation: appear 2s 1;
}

/* Submit button */
#submit{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    padding: 10px;
    
}
#submit input{
    /* font-size: 20px; */
    animation: submit-button 2s 1;
}
.arrow-img{
    display: none;
    position: absolute;
    z-index: 2;
}



/* Gradient */
#gradient{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0, 1)
    );
    color: white;
    padding: 100px 0 0 0vw;

}
/* Footer */
footer{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0, 1)
    );
    padding: 13vh 5vw 3vh 5vw;
    
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.footer-title{
    font-size: 35px;
}

.footer-content{
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    column-gap: 70px;
}
.social-media{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.social-media div a{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    color: white;

    font-size: 17px;

    text-decoration: none;
}

/* Animations */
@keyframes borders {
    0%   {
        border-bottom: 1px solid white;
    }
    25% {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }
    50%  {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-top: 1px solid white;
    }
    75%  {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-right: 1px solid white;
    }
    100%   {
    }
}

@keyframes cursor {
    0%   {
        border-right: 10px solid rgba(255, 255, 255, 0);
    }
    50% {
        border-right: 10px solid white;
    }
    100%   {
        border-right: 10px solid rgba(255, 255, 255, 0);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes l2r {
    0%{
        opacity: 0;
        transform: translate(-100px,0px);
    }
    100%{
        opacity: 0.95;
    }
}

@keyframes r2l {
    0%{
        opacity: 0;
        transform: translate(100px,0px);
    }
    100%{
        opacity: 0.95;
    }
}


@keyframes u2d {
    0%{
        opacity: 0;
        transform: translate(0px,-10px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes submit-button {
    0%{
        opacity: 0.5;
        transform: translate(0px, 10px);

    }
    100%{
        /* width:20px; */
        opacity: 1;
    }
}